*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:#D8AC9C;
    border: 2px solid black;
    font-weight: bolder;
    padding: 5px;
    display: grid;
    grid-template-areas: ' header header header header header header' 'lsb slider slider slider slider rsb' 'footer footer footer footer footer footer '
}
.container div{
    padding: 15px;
    font-size: 30px;
    border: 2px solid black;
}
.header{
    grid-area: header;
}
.lsb{
    grid-area: lsb;
}
.slider{
    grid-area: slider;
}
.rsb{
    grid-area: rsb;
}
.footer{
    grid-area: footer;
    text-align: center;
    font-weight: 1000;
}
img{
    height: 300px;
    width: 200px;
    display: block;
    margin: auto;
}
h1{
    text-align: center;
    color: #383E56;
}

@media only screen and (max-width:600px){
    .container{
        grid-template-areas:'header' 'lsb' 'slider' 'rsb' 'footer'
    } 
}
@media only screen and (min-width:600px){
    .container{
        grid-template-areas:'header header' 'lsb rsb' 'slider slider'  'footer footer'
    } 
}
@media only screen and (min-width:1000px){
    .container{
        grid-template-areas: ' header header header header header header' 'lsb slider slider slider slider rsb' 'footer footer footer footer footer footer '
    } 
}